:root {
  background-color: #fefff7;
}

body {
  /* background-image: url('paper-texture.svg');
  background-repeat: repeat;
  background-size: 500px 500px; */

  font-family: "berthold-block-w1g", sans-serif;
  font-style: normal;
  color: var(--font-color);
}

a {
  color: #30313e;
}

a :visited {
  color: #454545;
}

p {
  font-weight: 100;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 800;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

main {
  margin: 1.2rem;
}

menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: .5rem;
  margin-left: .5rem;
}

menu * {
  margin-top: .3rem;
  margin-right: 1rem;
  margin-bottom: .3rem;
  margin-left: 1rem;
}

menu :first-child {
  max-height: 40mm;
  align-self: center;
}

menu a {
  text-decoration: none;
  font-size: 1.6rem;
}

section.feed>ul {
  list-style: none;
  padding-left: .8rem;;
}

section.feed>ul>li>h3 {
  margin-bottom: .2rem;
}

section.feed>ul>li>p {
  margin-top: .2rem;
  margin-bottom: .2rem;
}